In [36]:
import numpy as np
import pandas as pd
import os
import pathlib

path = str(pathlib.Path().absolute())

airbnb = pd.read_csv(path + "\AB_US_2020.csv")

In [43]:
def dataframe_info(df):
    """
    Getting the shape of the dataframe & other attributes.
    """
    print("The dataframe has {} rows and {} columns".format(df.shape[0], df.shape[1]))
    print("\n")
    print(df.info())
    print("\n")
    print(df.describe(include="all"))

    return df

def dataframe_sample(df, rows = 10):
    """
    Returning a sample of 10 rows of the dataframe.
    """
    return df.sample(rows)

    





#using the pipe method - in oder to apply the functions in an easily read sequence.

(airbnb
.pipe(dataframe_info)
.pipe(dataframe_sample)
    )

The dataframe has 226030 rows and 17 columns


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226030 entries, 0 to 226029
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226030 non-null  int64
 1   name                            226002 non-null  object
 2   host_id                         226030 non-null  int64
 3   host_name                       225997 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226030 non-null  object
 6   latitude                        226030 non-null  float64
 7   longitude                       226030 non-null  float64
 8   room_type                       226030 non-null  object
 9   price                           226030 non-null  int64
 10  minimum_nights                  226030 non-null  int64
 11  number_of_reviews               226030 non-null  int64
 12  last_review                     177428 non-null  object
 13  reviews_per_month               177428 non-null  float64
 14  calculated_host_listings_count  226030 non-null  int64
 15  availability_365                226030 non-null  int64
 16  city                            226030 non-null  object
dtypes: float64(3), int64(7), object(7)
memory usage: 29.3+ MB
None


                  id                 name       host_id host_name  \
count   2.260300e+05               226002  2.260300e+05    225997
unique           NaN               218443           NaN     30533
top              NaN  Home away from home           NaN   Michael
freq             NaN                   75           NaN      2025
mean    2.547176e+07                  NaN  9.352385e+07       NaN
std     1.317814e+07                  NaN  9.827422e+07       NaN
min     1.090000e+02                  NaN  2.300000e+01       NaN
25%     1.515890e+07                  NaN  1.399275e+07       NaN
50%     2.590916e+07                  NaN  5.138266e+07       NaN
75%     3.772624e+07                  NaN  1.497179e+08       NaN
max     4.556085e+07                  NaN  3.679176e+08       NaN

       neighbourhood_group         neighbourhood       latitude  \
count               110185                226030  226030.000000
unique                  34                  1450            NaN
top              Manhattan  Unincorporated Areas            NaN
freq                 20236                  8020            NaN
mean                   NaN                   NaN      35.662829
std                    NaN                   NaN       6.849855
min                    NaN                   NaN      18.920990
25%                    NaN                   NaN      32.761783
50%                    NaN                   NaN      37.261125
75%                    NaN                   NaN      40.724038
max                    NaN                   NaN      47.734620

            longitude        room_type          price  minimum_nights  \
count   226030.000000           226030  226030.000000    2.260300e+05
unique            NaN                4            NaN             NaN
top               NaN  Entire home/apt            NaN             NaN
freq              NaN           154173            NaN             NaN
mean      -103.220662              NaN     219.716529    4.525490e+02
std         26.222091              NaN     570.353609    2.103376e+05
min       -159.714900              NaN       0.000000    1.000000e+00
25%       -118.598115              NaN      75.000000    1.000000e+00
50%        -97.817200              NaN     121.000000    2.000000e+00
75%        -76.919322              NaN     201.000000    7.000000e+00
max        -70.995950              NaN   24999.000000    1.000000e+08

        number_of_reviews last_review  reviews_per_month  \
count       226030.000000      177428       177428.00000
unique                NaN        2377                NaN
top                   NaN    15/03/20                NaN
freq                  NaN        2915                NaN
mean            34.506530         NaN            1.43145
std             63.602914         NaN            1.68321
min              0.000000         NaN            0.01000
25%              1.000000         NaN            0.23000
50%              8.000000         NaN            0.81000
75%             39.000000         NaN            2.06000
max            966.000000         NaN           44.06000

        calculated_host_listings_count  availability_365           city
count                    226030.000000     226030.000000         226030
unique                             NaN               NaN             28
top                                NaN               NaN  New York City
freq                               NaN               NaN          45756
mean                         16.698562        159.314856            NaN
std                          51.068966        140.179628            NaN
min                           1.000000          0.000000            NaN
25%                           1.000000          0.000000            NaN
50%                           2.000000        140.000000            NaN
75%                           6.000000        311.000000            NaN
max                         593.000000        365.000000            NaN

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
108968,38973471,7 min ride 2 Dtown w/ free parking and fire pit,80290403,Lauren And Joe,NaN,District 5,36.19436,-86.76992,Entire home/apt,122,1,57,26/08/20,7.57,1,52,Nashville
179605,35444951,Silicon Valley Master Suite E,64240752,Valerie,NaN,Santa Clara,37.35263,-121.98532,Private room,75,2,4,18/03/20,0.36,2,180,San Clara Country
180864,40936472,Gorgeous pool cabana near downtown Mountain View,188437895,Corinne,NaN,Mountain View,37.39459,-122.09008,Entire home/apt,128,2,12,30/05/20,2.34,3,321,San Clara Country
124420,6812456,Large 2 bedroom apartment,400240,Murat,Brooklyn,Flatbush,40.65303,-73.96164,Entire home/apt,80,6,2,18/08/19,0.08,2,0,New York City
50122,6516449,Island Room for Long Stay,5856233,Rene,Honolulu,Primary Urban Center,21.32024,-157.85511,Private room,55,30,15,07/07/20,0.25,3,322,Hawaii
164882,26565909,San Francisco charm across the bay,199759806,Amber,NaN,Golden Gate,37.84522,-122.28723,Entire home/apt,95,1,236,15/05/20,10.04,1,167,Oakland
203528,39534751,Cozy room near colma Bart,303755192,Aristothelyes,NaN,Daly City,37.68443,-122.47478,Private room,100,1,0,NaN,NaN,1,180,San Mateo County
51639,11757550,Casa De Emdeko 211,49441399,Knutson & Associates,Hawaii,North Kona,19.61725,-155.98260,Entire home/apt,121,1,1,10/06/19,0.06,67,169,Hawaii
32779,40559866,Large room in 5 Story Town home steps 2 Red Line,13832017,Bracken,NaN,Uptown,41.96335,-87.66132,Private room,50,1,16,16/08/20,1.70,1,49,Chicago
81905,17180700,"BEAUTIFUL LARGE HOUSE 3BD/2BA WEST HOLLYWOOD,CA",115602999,Sebastian,City of Los Angeles,Fairfax,34.08838,-118.35025,Entire home/apt,304,2,107,24/08/20,2.48,2,130,Los Angeles